body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-shadow: 0 1px 0px rgb(255, 255, 255);
  margin: 0px;
  padding: 10px;
  font-family:sans-serif;
}

.display{
  font-size: 40px;
  padding: 0 !important;
}
.display>span{
  font-weight: bold;
}
.btn-default{
  background-color: rgb(237, 237, 237) !important;
}
.btn{
  border-radius: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 13px !important;
}
.well{
  border-radius: 0 !important;
  font-size: 11px !important;
  padding: 0 !important;
}
.well_laps{
  padding: 20px !important;
}
